<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Atividades e projeto da disciplina de APA 2017.1 </h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <p>Olá, tudo bem? Meu nome é: <strong>Renê Alves Barbosa</strong>, curso Ciência da Computação na Universidade Federal da Paraíba, resolvi fazer algo diferente para a disciplina de análise de projeto e algoritmos do período de 2017.1, que tal colocar todas as minhas atividades desta disciplina em apenas um local e com a possibilidade de realizar testes neles  por uma interface web?</p>
    <p>Todo código desta página está presente <a href="https://github.com/reny122010/APA2017.1">aqui!</a> </p>
    <p>Confira as minhas produções:</p>
    <h2>
    Atividades:
    </h2>

    <p>
    <strong>Comparação 1: </strong> Implemente os seguintes algoritmos de ordenação: Selection sort, 
    Insertion sort. 
    </p>

    <footer>Obrigado pela visita <a href="http://lattes.cnpq.br/6578699249006546">Veja meu currículo!</a></footer>
    

  </md-content>